/* 
    Document   : mainStyle
    Created on : 16.10.2013, 12:02:50
    Author     : Domi
    Description:
        Purpose of the stylesheet follows.
*/

/*<<<Layout Styles>>>*/
.header{
    width: 1000px;
    height: 60px;
    background-color: greenyellow;
}
.wrapper{
    width: 1000px;
    height: 1000px;
}
.mainContent{
    width: 850px;
    height: 1000px;
    background-color: #d6e9c6;
    float: left;
}
.chart{
    text-align: center;
    width: 100%;
}
.subContent{
    width: 150px;
    height: 1000px;
    background-color: #a9dba9;
    float: right;
}
.footer{
    width: 1000px;
    height: 30px;
    background-color: greenyellow;
    clear: both;
}


/*<<<<Nav Styles>>>>*/

.nav:hover{
     font-weight: bold;
     text-decoration: none;
}
.active{
    font-weight: bold;
}
.navUl{
    list-style-type: none;
}
#menu-navHome{
    position: relative;
    top: -40px;
    left: 190px;
}
#menu-navToday{
    position: relative;
    top: -60px;
    left: 290px;
}
#menu-navArchive{
    position: relative;
    top: -80px;
    left: 390px;
}
#menu-navAboutUs{
    position: relative;
    top: -100px;
    left: 490px;
}

/* <<<<Header-Form-Styles>>>>*/

#DayNightSelect{
    position: relative;
    top: 15px;
    left: 750px;
}